.city-list {
  grid-area: cl;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.item {
  height: 220px;
  width: 350px;
  background: rgba(196, 196, 196, 0.06);
  border: 1px solid rgba(196, 196, 196, 0.6);
  border-radius: 6px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.item-content {
  margin:3px 5px 10px;
  height: calc(100% - 13px);
  display: flex;
  flex-direction: column;
}
.item-header {
  height: 30px;
  width: 100%;
  display: flex;
}
.item-header-city {
  flex-grow: 1;
  font-size: 25px;
  font-weight: 300;
}
.item-body {
  display: flex;
  flex-grow: 1;
}
.item-body-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.item-temperature {
  font-size: 55px;
  color: #C0E7E2;
}
.del-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.error-message{
  font-size: 28px;
}
.item-body-left img{
  width: 72px;
  height: 72px;
}