#city-list{
  @media(min-width: 1750px){
    grid-area: 1 / 3 / span 1/ span 2;
  }
  @media(min-width: 1240px) and (max-width: 1750px){
    grid-area: 2 / 1 / span 1/ span 3;
  }
  @media(min-width: 720px) and (max-width: 1240px){
    grid-area: 2 / 1 / span 4/ span 1;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.city-list {
  width: 100%;
  min-height: 722px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}