#icons-bar {
  width: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
  }
}
#city-info {
  height: 150px;
  margin-top: 50px;
  #city-info-name {
    height: 80px;
    font-size: 62px;
  }
  #city-info-weather {
    height: 40px;
    font-size: 35px;
  }
}
#cd-weather-icon {
  width: 125px;
  height: 125px;
  margin-top: 35px;
}
#cd-temp {
  height: 110px;
  margin-top: 40px;
  font-size: 100px;
  color: #92deb5;
}
#сd-weather-values {
  height: 240px;
  margin-top: 45px;
  div{
    height: 60px;
    font-size: 40px;
  }
}
.city-default{
  height: 100%;
}