#input-box-main {
  height: 85px;
  width: 100%;
}
#input-box {
  height: 45px;
  width: 520px;
  background: linear-gradient(0deg, #DE929C 0%, rgba(222, 146, 156, 0) 100%);
}
#input-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#input-field {
  height: 45px;
  background-color: transparent;
  border-color: transparent;
  flex-grow: 1;
  font-size: 32px;
  color: #330000;
}
*:focus
{
  outline: none;
}
#search-button {
  width: 100px;
  height: 45px;
  background: rgba(0, 0, 0, 0.7);
  border-color: transparent;
}