@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');

body {
  width: 100%;
  background: url("./background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  color: #FFF4F4;
}
#app{
  min-width: 740px;
  min-height: 1080px;
  display: grid;
  grid-template: 125px 1fr 125px / 95px 1fr 95px;
}