.current-city {
  grid-area: cd;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}
.current-city__name {

}
.current-city__city-name {
  font-size: 43px;
}
.current-city__weather {
  font-size: 26px;
}
.current-city__temp {
  display: flex;
}
.city-default__weather-icon img{
  width: 100px;
}
.current-city__temperature {
  font-size: 80px;
  color: #C0E7E2;
  margin-left: 20px;
}